langchain
langchain_huggingface
langchain_chroma
langchain_text_splitters
langchain_core
langchain_community
pandas
fastapi
streamlit
pytesseract
dotenv
langgraph
python-docx
python-multipart
langchain-google-genai
sentence-transformers
pymupdf
openpyxl